XML/classifica.dtd

<!ELEMENT CLASSIFICA (CAMPIONATO)*>
<!ELEMENT CAMPIONATO (SQUADRA)*>
<!ELEMENT SQUADRA (PUNTI)>
<!ELEMENT PUNTI (#PCDATA)>

<!ATTLIST CLASSIFICA genere (Generale | Giornaliera) #REQUIRED>
<!ATTLIST CAMPIONATO nomeCampionato CDATA #REQUIRED>
<!ATTLIST CAMPIONATO giornata CDATA #IMPLIED>
<!ATTLIST SQUADRA nomeSquadra CDATA #REQUIRED>
